<div class="about">
  <h1>About The Site</h1>

  <p>This site was built as a way to teach new gamers the ropes to some of the harder games out there. I myself am no expert but with the cumulitive knowledge of all gamers out there, this site was possible to build. This will be an ever expanding project due to the fact that I absolutely love gaming and know the struggle that comes with learning a new game. So for all of you who come here to learn or to fact check, you're the ones who make gaming the most enjoyable. I appreciate all criticisms and corrections in case people would like to make mention to them, you can email me at noob.gaming.site@gmail.com.</p>
  <p>I want to also make mention to the entire Rainbow Six Siege learning subreddit <a href="https://reddit.com/r/siegeacademy">/r/SiegeAcademy</a> for having guides on many of these operators because I wouldn't know where to begin. If you would like for me to take your guide down, let me know through email or reddit message at /u/stvel and it will be removed as soon as possible.</p>
  <br>

  <h4>Thank you all! Praise the sun and may you find your worth in the waking world! {-}7</h4>
  <h5>-/u/stvel, the man behind the scenes</h5>
</div>
