<div class="entryBoxes">
  <a href="<%= siege_path %>">
    <div class="title" id="siege">
      <h2>Rainbow Six Siege</h2>
    </div>
  </a>
  <a href="<%= bloodborne_path %>">
    <div class="title" id="bloodborne">
      <h2>Bloodborne</h2>
    </div>
  </a>
</div>
