<a href="<%= siege_path %>"><div class="title">
  <h2>Rainbow Six Siege</h2>
</div></a>
<a href="<%= bloodborne_path %>"><div class="title">
  <h2>Bloodborne</h2>
</div></a>
<a href="<%= other_path %>"><div class="title">
  <h2>Title3</h2>
</div></a>
