<h1>General Tips</h1>

<div class="tipsDiv">
  <h3 class="tipsH3">General Game Tips</h3>
  <ul class="tipsUL">
    <li>Always be aware of your surroundings and where you are. If not, it can lead to you dying or a teammate dying to an enemy who heard or spotted you. Just be careful and pay attention to those small details.</li>
    <li>Think of all the other players in the game. Don't just run around if you have a roamer as it gives away a position or peek in front of a player holding an angle as you'll just get accidentally shot or just frustrate your teammates a lot.</li>
    <li>Don't hurt the hostage. It will just be a bad time for you. On that note, don't ever pick Fuze on hostage unless you really want a dead hostage.</li>
    <li>If you open a door, window, or wall, just be careful and let your team know. Communication is key in this game and all angles you have, the enemy also has. A teammate who isn't aware of that hole may just die due to it.</li>
    <li>For all our console players, don't put your controller down and go to pick it back up when you spawn. Speaking from experience, you may just kill your teammate on accident. Just be wary.</li>
    <li>When it comes down to sensitivity, the best for mouse is 800 DPI, 10 horizontal and vertical, and 45 ADS. This obviously isn't the be all end all but it is the recommended for those miniscule movements that are so important in this game. On console, it really just comes down to preference but small movements are best.</li>
    <li>Points are great but don't ping on cameras or drones, it's a pretty good way to get a dead camera/drone. Considering how important information is in this game, you want these to stay alive as long as possible.</li>
    <li>The fact that this needs to be said says a lot about some people but just don't be a shit. This is a game, people are here to have a fun time. But if you just start team killing, shit talking, blasting music over comms, and just being an ass, don't be upset when people act back and kill you or kick you. It's a sad part of every community but don't be that person. Just have fun and everyone will be okay.</li>
  </ul>
</div>
<div class="tipsDiv">
  <h3 class="tipsH3">Attacker Tips</h3>
  <ul class="tipsUL">
    <li>Use your drone to scout. Yes, it's nice to find the objective but you can also keep your drone as a way to watch peek spots and for roamers getting into position.</li>
    <li>Be careful of your surroundings again. If a teammate is near by, don't shoot a camera as they may accidentally walk in front of it and no longer have a head. Same goes for you, if a teammate is shooting, don't walk in front of them.</li>
    <li>On bomb, it's best to give others the defuser for now. Some people are shitty in this game and will team kill for it or because you aren't planting when they want.</li>
    <li>Always stick with someone, especially if you work well together (for example, Thatcher and Thermite.) This way you always have more vision, more knowledge, an advantage in a skirmish, and needed utility together.</li>
    <li>Don't plant a breach charge on a window or a door most of the time. You make noise doing it and will likely get shot at if you do. However, if you are rappeling and want to make a fast entrance through a window, it's not a bad idea to breach it open. Just be wary.</li>
  </ul>
</div>
<div class="tipsDiv">
  <h3 class="tipsH3">Defender Tips</h3>
  <ul class="tipsUL">
    <li>Don't reinforce Kid's Bedroom on House. This is a great place to get some penetration kills with the right amount of knowledge and is just generally a place you don't reinforce.</li>
    <li>Barbed wire slow doesn't stack so you shouldn't stack barbed wire. Spreading wire out is a great way to get more knowledge of enemy movement and a great way to slow done an objective rush. Spread that wirey love.</li>
    <li>Don't reinforce the walls between objectives. Which are those walls? If you can see a diamond with either an A or B in it, that's a wall between sites. Make holes in them so you can rotate over to a planted defuser or to just have a line of sight of the objective.</li>
    <li>Don't leave the objective alone as it really is up to you and the team to defend it. At the same time, don't all be on it because that's just a Fuze's dream. Explore a bit and roam a room or two away from objective or play from above or below it if the map allows it but if no one else is around, stay on it.</li>
    <li>Consider the hatches in objective ceiling or on the objective floor. They're all great spots to escape through and flank around or get a good drop on an objective capture in progress but it will also allow for the same with enemies. Play it by ear.</li>
    <li>Be careful with explosives. Splash damage is a thing in this game and some people don't like taking damage so they give the very adult answer of team killing you. Just be wary.</li>
  </ul>
</div>
<div class="tipsDiv">
  <h3 class="tipsH3">Siege and the Environment</h3>
  <p>The environment is incredibly important in Siege. The smallest details can be the difference between life and death for you and your team. Some important things to keep in mind: </p>
  <ul class="tipsUL">
    <li>Sound is everything. Footsteps do travel through walls, someone placing an object on a barricade or reinforcement can be heard. Noise will give you an edge in a fight because you have information your opponent may not have.</li>
    <li>In regards to sound, use a good headset. A good headset gives you a better idea of where the enemy may be as sound is more accurate. Don't use earbuds as this doesn't really give good audio and positioning of sound if that makes any sense... Basically just use a good headset to give a better idea of where sound is coming from.</li>
    <li>If you're approaching a door and see wood on the floor, watch out in the area. It means someone broke that barricade and either placed something somewhere around it or are somewhere near. A tip for when you're more used to the game, if a door is barricaded and you know it usually isn't, there is definitely somewhere near; you should also be aware of barricade position. The barricade is on your side when it's usually on the other side? Someone is on this side of the barricade. Always pay attention to barricades when approaching.</li>
    <li>The tiniest angle is enough to give away a position. A few pixels is enough for you to hit a target and notice they were in the area. Watch for these but be aware that there is dust in the air on some maps that may make it look like movement.</li>
  </ul>
</div>
<div class="tipsDiv">
  <h3 class="tipsH3">Bandit Trick</h3>
  <p>Bandit trick is one of the best anti-breach tactics to know about, both if you're a defender or an attacker. This consists of Bandit placing down his battery on a reinforced wall just as a Hibana shoots her pellets on the wall or a Thermite places his Exothermic charge, causing them to be electrocuted and lost. This is usually pulled off by having good vision of what is going on outside the wall or by listening through the wall (made easier by shooting holes in the wall then reinforcing). This can usually be countered by the enemy team by expecting it and trying to bait out the battery by starting to plant and then not planting, which won't give Bandit enough time to pick his battery back up if a Thatcher throws his EMP in time or a Twitch drone destroys it as soon as it's placed.</p>
</div>
<div class="tipsDiv" id="bottomTipDiv">
  <span id="peeker">
    <h3 class="tipsH3">Peeker's Advantage</h3>
    <p>This is a weird one. The short version is that if two people with equal ping are around the corner from each other, the one who runs out first will usually win the shootout as you will be out a few milliseconds before on your screen than on theirs. This is a wierd concept to grasp sometimes though so the video below is a much better explaination (on top of the fact that Serenity is a great Siege YouTuber, I would recommend watching him for learning the game.)</p>
  </span>
  <iframe src="https://youtube.com/embed/GkCWEWwARAg" width="500px" height="300px"></iframe>
</div>

<footer>
  <nav>
    <ul>
      <a href="<%= root_path %>"><li>HOME</li></a>
      <a href="<%= siege_operators_path %>"><li>OPERATORS</li></a>
      <a href="<%= siege_guns_path %>"><li>GUNS</li></a>
    </ul>
  </nav>
</footer>
