
<div class="genTextBox">
  <div class="genText">
    <h2>Welcome to Noob Gaming: Bloodborne!</h2>
    <h4>This is the section for all tips on Bloodborne. Learn about the different classes, enemies, weapons, and general information on how to feel more comfortable playing the game. However, this section is still under construction.</h4>
  </div>
</div>
