<div class="bgimg-1">
  <div class="genTextBox">
    <div class="genText">
      <h2>Welcome to Noob Gaming: Rainbow Six Siege!</h2>
      <h4>This is the section for all tips on Rainbow Six Siege. Learn about operators, their weapons, and general information on how to feel more comfortable playing the game.</h4>
    </div>
  </div>
</div>
<div class="bgimg-2">
  <div class="opTextBox">
    <div class="opText">
      <a href="/siege/general">
        <div class="buttonLink">GENERAL TIPS</div>
      </a>
    </div>
  </div>
</div>
<div class="bgimg-3">
  <div class="opTextBox">
    <div class="opText">
      <a href="/siege/operators">
        <div class="buttonLink">OPERATORS</div>
      </a>
    </div>
  </div>
</div>
<div class="bgimg-4">
  <div class="opTextBox">
    <div class="opText">
      <a href="/siege/guns">
        <div class="buttonLink">GUNS</div>
      </a>
    </div>
  </div>
  </div>
</div>
<footer>
  <nav>
    <ul>
      <a href="<%= root_path %>"><li>HOME</li></a>
      <a href="<%= siege_operators_path %>"><li>OPERATORS</li></a>
      <a href="<%= siege_guns_path %>"><li>GUNS</li></a>
    </ul>
  </nav>
</footer>
