// Place all the styles related to the Operators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(siegeSmokeBack.jpg);
}
div.searchArea {
  width: 25%;
  height: 100%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
}
div.search {
  width: 30%;
  height: 100%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  position: fixed;
  left: 0;
  h2, h3{
    text-decoration: underline;
  }
}
div.attackers {
  border-right: 2px solid black;
  width: 36.6%;
  text-align: center;
  display: inline-block;
  color: #666;
  min-height: 100%;
  vertical-align: top;
}
div.defenders {
  width: 36.6%;
  text-align: center;
  display: inline-block;
  color: #666;
  min-height: 100%;
  vertical-align: top;
}
div.operator {
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  // float: left;
  display: inline-block;
  color: #666;
}
.ctu, .role, .armor, .speed {
  display: inline-block;
  width: 48.9%;
  vertical-align: top;
}
ul {
  list-style: none;
  padding-left: 0;
}
.Ash-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -256px;
  margin: auto;
}
.Bandit-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px 0;
  margin: auto;
}
.Blackbeard-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -640px;
  margin: auto;
}
.Blitz-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px 0;
  margin: auto;
}
.Buck-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -640px;
  margin: auto;
}
.Capitao-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -768px;
  margin: auto;
}
.Castle-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -256px;
  margin: auto;
}
.Caveira-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -768px;
  margin: auto;
}
.Doc-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -384px;
  margin: auto;
}
.Echo-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -768px;
  margin: auto;
}
.Frost-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -640px;
  margin: auto;
}
.Fuze-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -128px;
  margin: auto;
}
.Glaz-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -128px;
  margin: auto;
}
.Hibana-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -768px;
  margin: auto;
}
.IQ-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px 0;
  margin: auto;
}
.Jackal-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -896px;
  margin: auto;
}
.Jager-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 0;
  margin: auto;
}
.Kapkan-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -128px;
  margin: auto;
}
.Mira-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -896px;
  margin: auto;
}
.Montagne-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -384px;
  margin: auto;
}
.Mute-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -512px;
  margin: auto;
}
.Pulse-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -256px;
  margin: auto;
}
.Rook-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -384px;
  margin: auto;
}
.Sledge-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -512px;
  margin: auto;
}
.Smoke-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -512px;
  margin: auto;
}
.Tachanka-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -128px;
  margin: auto;
}
.Thatcher-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -512px;
  margin: auto;
}
.Thermite-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -256px;
  margin: auto;
}
.Twitch-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -384px;
  margin: auto;
}
.Valkyrie-badge {
  background-image: url("/assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -640px;
  margin: auto;
}

div.img {

  margin-bottom: 70px;
}
img#op {
  width: 450px;
}
img#gadget {
  width: 400px;
  transform: translateY(-110%);
}
div.tipsInfo p, div.tipsInfo li {
  width: 800px;
  float: left;
  font-size: 15px;
  line-height: 35px;
  color: white;
}
div.genInfo {
  color: white;
  height: 750px;
}
div.genInfo p, div.genInfo li{
  width: 800px;
  font-size: 15px;
  line-height: 35px;
  list-style: initial;
}
div.tipsInfo {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
}
