// Place all the styles related to the Operators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/siegeSmokeBack.jpg");
  margin-bottom: 40px;
}
div.searchArea {
  width: 25%;
  height: 100%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
}
div.search {
  width: 30%;
  height: 100%;
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  position: fixed;
  left: 0;
  h2, h3{
    text-decoration: underline;
  }
}
div.attackers {
  border-right: 2px solid black;
  width: 36.6%;
  text-align: center;
  display: inline-block;
  color: #666;
  min-height: 100%;
  vertical-align: top;
  padding-bottom: 50px;
}
div.defenders {
  width: 36.6%;
  text-align: center;
  display: inline-block;
  color: #666;
  min-height: 100%;
  vertical-align: top;
}
div.operator {
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  // float: left;
  display: inline-block;
  color: #666;
}
.ctu, .role, .armor, .speed {
  display: inline-block;
  width: 48.9%;
  vertical-align: top;
}
ul {
  list-style: none;
  padding-left: 0;
}
.Ash-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -256px;
  margin: auto;
}
.Bandit-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px 0;
  margin: auto;
}
.Blackbeard-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -640px;
  margin: auto;
}
.Blitz-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px 0;
  margin: auto;
}
.Buck-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -640px;
  margin: auto;
}
.Capitao-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -768px;
  margin: auto;
}
.Castle-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -256px;
  margin: auto;
}
.Caveira-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -768px;
  margin: auto;
}
.Doc-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -384px;
  margin: auto;
}
.Echo-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -768px;
  margin: auto;
}
.Frost-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -640px;
  margin: auto;
}
.Fuze-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -128px;
  margin: auto;
}
.Glaz-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -128px;
  margin: auto;
}
.Hibana-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -768px;
  margin: auto;
}
.IQ-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px 0;
  margin: auto;
}
.Jackal-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -896px;
  margin: auto;
}
.Jager-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 0;
  margin: auto;
}
.Kapkan-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -128px;
  margin: auto;
}
.Mira-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -896px;
  margin: auto;
}
.Montagne-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -384px;
  margin: auto;
}
.Mute-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -512px;
  margin: auto;
}
.Pulse-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -256px;
  margin: auto;
}
.Rook-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -256px -384px;
  margin: auto;
}
.Sledge-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -512px;
  margin: auto;
}
.Smoke-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -512px;
  margin: auto;
}
.Tachanka-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -384px -128px;
  margin: auto;
}
.Thatcher-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: -128px -512px;
  margin: auto;
}
.Thermite-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -256px;
  margin: auto;
}
.Twitch-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -384px;
  margin: auto;
}
.Valkyrie-badge {
  background-image: url("https://s3.us-east-2.amazonaws.com/noob-gaming-assets/opBadges.png");
  width: 128px;
  height: 128px;
  background-position: 0 -640px;
  margin: auto;
}

img#opAsh {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetAsh {
  width: 400px;
  position: absolute;
  bottom: -400px;
  right: 50px;
}

img#opBandit {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetBandit {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opBlackbeard {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetBlackbeard {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opBlitz {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetBlitz {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opBuck {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetBuck {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opCapitao {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetCapitao {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opCastle {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetCastle {
  width: 400px;
  position: absolute;
  bottom: -500px;
  left: 20px;
}

img#opCaveira {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetCaveira {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opDoc {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetDoc {
  width: 400px;
  position: absolute;
  bottom: -650px;
  left: 20px;
}

img#opEcho {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetEcho {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opFrost {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetFrost {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 50px;
}

img#opFuze {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetFuze {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opGlaz {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetGlaz {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opHibana {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetHibana {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opIQ {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetIQ {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opJackal {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetJackal {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opJager {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetJager {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opKapkan {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetKapkan {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opMira {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetMira {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opMontagne {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetMontagne {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 20px;
}

img#opMute {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetMute {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opPulse {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetPulse {
  width: 400px;
  position: absolute;
  bottom: -450px;
  left: 10px;
}

img#opRook {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetRook {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 20px;
}

img#opSledge {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetSledge {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 10px;
}

img#opSmoke {
  width: 450px;
  position: absolute;
  top: -10px;
  right: -30px;
}
img#gadgetSmoke {
  width: 400px;
  position: absolute;
  bottom: -500px;
  left: 20px;
}

img#opTachanka {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetTachanka {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 50px;
}

img#opThatcher {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetThatcher {
  width: 400px;
  position: absolute;
  bottom: -350px;
  right: 50px;
}

img#opThermite {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 20px;
}
img#gadgetThermite {
  width: 400px;
  position: absolute;
  bottom: -650px;
  right: 20px;
}

img#opTwitch {
  width: 450px;
  position: absolute;
  top: -10px;
  left: 0px;
}
img#gadgetTwitch {
  width: 400px;
  position: absolute;
  bottom: -450px;
  right: 50px;
}

img#opValkyrie {
  width: 450px;
  position: absolute;
  top: -10px;
  right: 0px;
}
img#gadgetValkyrie {
  width: 400px;
  position: absolute;
  bottom: -350px;
  left: 50px;
}

div.genInfoAsh {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoAsh {
  color: white;
  position: absolute;
  bottom: -350px;
  left: 30px;
  height: 50%;
  width: 800px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  p, li {
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoBandit {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoBandit {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoBlackbeard {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoBlackbeard {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoBlitz {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoBlitz {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoBuck {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoBuck {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoCapitao {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoCapitao {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoCastle {
  color: white;
  height: 750px;
  position: absolute;
  top: 80px;
  left: 70px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoCastle {
  padding-top: 30px;
  color: white;
  position: absolute;
  bottom: -650px;
  right: 90px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoCaveira {
  color: white;
  height: 750px;
  position: absolute;
  left: 80px;
  top: 70px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoCaveira {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoDoc {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoDoc {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 80px;
  bottom: -925px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoEcho {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoEcho {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoFrost {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoFrost {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoFuze {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoFuze {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoGlaz {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoGlaz {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoHibana {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoHibana {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoIQ {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoIQ {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoJackal {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoJackal {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoJager {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoJager {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoKapkan {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoKapkan {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoMira {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoMira {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoMontagne {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoMontagne {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoMute {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoMute {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  bottom: -450px;
  right: 80px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoPulse {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoPulse {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  bottom: -650px;
  right: 90px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoRook {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoRook {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  bottom: -650px;
  right: 80px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoSledge {
  color: white;
  height: 750px;
  position: absolute;
  top: 80px;
  right: 50px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoSledge {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  bottom: -450px;
  left: 70px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoSmoke {
  color: white;
  height: 750px;
  position: absolute;
  top: 80px;
  left: 70px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoSmoke {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 80px;
  bottom: -650px;
  width: 750px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoTachanka {
  color: white;
  height: 750px;
  position: absolute;
  left: 70px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoTachanka {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoThatcher {
  color: white;
  height: 750px;
  position: absolute;
  right: 50px;
  top: 100px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoThatcher {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoThermite {
  color: white;
  height: 750px;
  position: absolute;
  top: 80px;
  right: 20px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoThermite {
  color: white;
  position: absolute;
  left: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoTwitch {
  color: white;
  height: 750px;
  position: absolute;
  right: 10px;
  top: 80px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoTwitch {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  bottom: -675px;
  left: 10px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}

div.genInfoValkyrie {
  color: white;
  height: 750px;
  position: absolute;
  left: 80px;
  top: 70px;
  p, li{
    width: 800px;
    font-size: 15px;
    line-height: 35px;
    list-style: initial;
  }
}
div.tipsInfoValkyrie {
  padding-top: 30px;
  margin-left: 30px;
  color: white;
  position: absolute;
  right: 30px;
  bottom: -800px;
  padding-bottom: 50px;
  p, li {
    width: 800px;
    float: left;
    font-size: 15px;
    line-height: 35px;
    color: white;
  }
}
